<div class="full-page">
  <div id='login-form'class='login-page'>
      <div class="form-box">
          <div id='login' *ngIf="showLogin" class='input-group-login'>
            <h1>Sign in</h1>
              <input type='email' [(ngModel)]="email" class='input-field'placeholder='Email Id' required >
              <input type='password' [(ngModel)]="password" class='input-field'placeholder='Enter Password' required>
              <button type='submit' (click)="validate()" class='submit-btn'>Log in</button><br>
              <p>Don't have an account?<a (click)="openRegistration()">Join now</a></p>
          </div>
          <div id='register' *ngIf="showRegistration">
              <h1>Sign up</h1>
              <input type='text' [(ngModel)]="user.firstName" class='input-field'placeholder='First Name' required>
              <input type='text' [(ngModel)]="user.lastName" class='input-field'placeholder='Last Name ' required>
              <input type='email' [(ngModel)]="user.email" class='input-field'placeholder='Email Id' required>
              <input type='password' [(ngModel)]="user.password" class='input-field'placeholder='Enter Password' required>
              <input type='password' [(ngModel)]="user.confirmPassword" class='input-field'placeholder='Confirm Password'  required>
              <input type='checkbox'class='check-box'><span>I agree to the terms and conditions</span>
              <button type='submit' (click)="createAccount()" class='submit-btn'>Register</button>
          </div>
      </div>
  </div>
</div>
